body{
    background-color: #ffb703;
    font-family: Helvetica, sans-serif;
}

h1{
    text-align: center;
    color: white;
    padding-bottom: 2rem;
}

#header{
    border-bottom: 2px black solid;
}

img{
    border-radius: 50%;
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    width: 40%;
}

li{
    margin-bottom: 3rem;
}
