body{
    background-color: #ffb703;
}

h1{
    text-align: center;
}

img{
    border-radius: 50%;
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}