body{
    background-color: #ffb703;
}

h1{
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: white;
}

#header{
    border-bottom: 2px black solid;
}

img{
    border-radius: 50%;
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}